
@{
    ViewBag.Title = "Index";
}

<h2>Habitacion</h2>


<div id="divTabla">

</div>



<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/habitacion.js"></script>