
@{
	ViewBag.Title = "Index";
}

<h2>Listado Cama</h2>
<link href="~/Content/datatable.css" rel="stylesheet" />

<div id="divTabla">

</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/datatable.js"></script>
<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/cama.js"></script>

