
@{
    ViewBag.Title = "Index";
}




<div id="divHoteles">



</div>


<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Reserva.js"></script>

