
@{
    ViewBag.Title = "Index";
}



<div id="divTabla">

</div>
<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/marca.js"></script>

