
@{
    ViewBag.Title = "Index";
}

<h2 id="lblTituloForm">Productos</h2>
<!--
<div class="input-group mb-3">
    <input type="text" class="form-control"
           id="txtnombreproducto"
           onkeyup="Buscar()"
           placeholder="Ingrese nombre producto" />
</div>
    -->
<!--
<div class="input-group mb-3">
    <select class="form-control" id="cboMarca"></select>
    <button class="btn btn-outline-secondary"
            onclick="BuscarProductoMarca()"
            type="button">Buscar</button>
</div>
    -->
<div id="divTabla">

</div>



<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/producto.js"></script>

